{% extends 'base.html' %}

{% block titulo %}
    about us
{% endblock %}

{% block contenido %}
    <h1 class="title" >about us</h1>
    <div class='text'>
        <p>
            AMATE nace en un pequeño pueblo, Baradero. Ubicado en la provincia de Buenos Aires.<br> En una cena de amigos, fue donde surgió la brillante idea de comercializar algo que nos apasiona, EL MATE.
        </p>
        <p>
            Empezamos por comprar los productos para la venta y realizamos una web donde darle visibilidad a nuestros insumos de alta calidad, en nuestra pagina ademas de ver los productos se puede encontrar información histórica sobre el mate, su origen y su uso.
        </p>
        <p>
            Por otra parte, y la más importante, para que los usuarios puedan adquirir los productos que nosotros vendemos, de una forma mas comoda, Podrán registrarse con un mail, usuario y contraseña.
        </p>
    </div>

{% endblock %}