{% extends 'base.html' %}

{% block titulo %}
    Detalle de producto
{% endblock %}

{% block contenido %}
    <h1 class="title" >detalles del productos</h1>
    {%if object.imagen%}
        <img class='img-detail' src="{{ object.imagen.url }}" class="img-fluid" alt="{{object.name}}">
    {%endif%}
   <div class='text'>
     <h5 class="card-title">{{object.name}}</h5>
     <p class="card-text">{{object.description}}</p>
     <p class="card-text">${{object.price}}</p>
   </div>
    {% if request.user.is_authenticated and request.user.is_superuser %}
        <div class="container-buttons">
            <a href="/products/update-product/{{object.pk}}/" class="btn btn-primary">Editar</a>
            <a href="/products/delete-product/{{object.pk}}/" class="btn btn-danger">Eliminar</a>
        </div> 
    {%endif%}

{% endblock %}