{% extends 'base.html' %}

{% block titulo %}
    Productos
{% endblock %}


{% block contenido %}
<h1 class="title" >productos</h1>
{% if productos %}
    <div class="d-flex" style="margin-top:5rem; margin-left:7rem">
        {% for producto in productos %}
            
        <div class="card" style="width: 18rem;">
            <img src="{{ producto.imagen.url }}" class="img-fluid" alt="{{producto.name}}">
            <div class="card-body">
                <h5 class="card-title">{{producto.name}}</h5>
                <p class="card-text">{{producto.description}}</p>
                <p class="card-text cardPrice"><small class="text-muted">${{producto.price}}</small></p>
                <a href="/products/detail-product/{{producto.pk}}/" class="btn btn-primary">Ver mas!</a>
            </div>
        </div>
        {% endfor %}
    </div>
{% endif %}


<div>
    <h3 style = "color:red" class="title">{{errors}}</h3>
</div>

{% endblock %}