{% extends 'base.html' %}

{% block titulo %}
Actualizar producto
{% endblock %}

{% block contenido %}

    {% if form %}
        <h2 class="title">Complete los campos del producto a actualizar</h2>
        <div class="formulario">
            <legend>
                <h4>formulario de producto</h4>
            </legend>
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <table>
                    {{form.as_table}}
                </table>
                <input class="btn btn-primary" type="submit" , value="Enviar">
            </form>
        </div>
    {% endif %}

{% endblock %}