{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block titulo %}
        {% endblock %}
    </title>
    <link rel="shortcut icon" href="{% static 'img/logos/logo.ico'%}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous">
    <!--link del css-->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <header>
        <div class="container">
        <div class="logo-box">
            <a href="/home/">
            <img class='logo' src="{% static 'img/logos/logo06.png'%}">
            </a>
        </div>
        <nav>
        <ul>
            <li><a href="/home/">Inicio</a></li>
            <li><a href="/products/">Productos</a></li>
            <li><a href="/home/about-us/">about us</a></li>
            {% if request.user.is_authenticated and request.user.is_superuser %}
            <li><a href="/products/create-product/">crear producto</a></li>
            <li><a href="/products/list-category/">categorias</a></li>
            {% endif %}
            {% if request.user.is_authenticated %}
            <li><a href="/users/detail-user-profile/{{request.user.pk}}/">{{request.user.username}}</a></li>
            <li><a href="/users/logout/">Logout</a></li>
            {% else %}
            <li><a href="/users/login/">Login</a></li>
            <li><a href="/users/register/">Register</a></li>
            
            {% endif %}
        </ul>
        </nav>
        </div>
    </header>
    <form class="form-inline my-2 my-lg-0" action = "/products/search-product/" method = "GET">
        <input class="form-control mr-sm-2" type="text" placeholder="Buscar productos" aria-label="Search" name = 'search'>
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>

    {% block contenido %}
    {% endblock %}

</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>

</html>